@font-face {
    font-family: 'josef';
    src: local('josef'), url('../fonts/JosefinSans-Light.ttf') format('opentype');
}

body {
    font-family: 'josef';
}

.main {
    min-height: 90vh;
}

.footer {
    min-height: 50px;
}

.card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.image-container {
    max-width: 250px;
    height: auto;
}

.field-heading {
    color: var(--secondary-text-color);
}

.icon-container:hover {
    opacity: 0.3;
    cursor: pointer;
}

.friends-icon {
    color: #4287f5;
    font-size: 40px;
}

.person-add-icon {
    color: #4287f5;
    font-size: 40px;
}

.friend-text {
    font-weight: 500;
    color: black;
}

.friends-btn {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #000;
    font-weight: 500;
}

.friends-btn:hover {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}

.dropdown-toggle::after {
    content: none;
}

.card {
    border-radius: 12px;
}

.material-icons {
    font-size: 30px;
}

.material-icons:hover {
    cursor: pointer;
}

.confirm-friend-request {
    color: green;
}

.confirm-friend-request:hover {
    opacity: 0.3;
}

.decline-friend-request:hover {
    opacity: 0.3;
}

.decline-friend-request {
    color: red;
}

.message-btn-text {
    font-weight: 500;
}

.profile-image {
    max-height: 100px;
    max-width: 100px;
}

.profile-image {
    border-radius: 12px;
}

.card {
    border-radius: 12px;
}

.friends-text {
    color: #000;
    font-weight: 500;
}

.friends-text-container {
    border: 1px solid #cccccc;
    border-radius: 12px;
}

.friends-btn:hover {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}

.dropdown-toggle::after {
    content: none;
}

.profile-link {
    color: #000;
}

.checkmark-icon {
    color: green;
}

.cancel-icon {
    color: red;
}